/* Dark Purple:     #603588 */
/* Light Purple:    #849CC3 */
/* Light Orange:    #FFB000 */

body {
    padding-top: 70px;
    background: url("../images/purple-diagonal-stripes.jpg") repeat;
}

.white-text {
    color: white;
}

#username {
    /*padding-right: 0;*/
}

#username-dropdown {
    /*padding-left: 4px;*/
    /*padding-right: 5px;*/
    /*margin-left: 1px;*/
    /*margin-right: 15px;*/
}

.post-box {
    margin-bottom: 20px;
    padding: 15px 0;
}

.post-img img {
    /*display: block;*/
    margin: auto;
}

.navbar-logo {
    height: 32px;
    margin: -15px 3px -15px -6px;
}

/* Put a fancy line at the bottom of every dropdown menu */
.dropdown-menu:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 100%;
}

/* Put a fancy line at the bottom of the navbar */
nav:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -4px;
    background-size: 100%;
}

/* Fancy Purple -> Orange Gradient */
.dropdown-menu:after, nav:after {
    background-color: #ffb000;  /* fallback/image non-cover color */
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#894cc3), to(#ffb000)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(left, #894cc3, #ffb000);  /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image:    -moz-linear-gradient(left, #894cc3, #ffb000);  /* Firefox 3.6+ */
    background-image:     -ms-linear-gradient(left, #894cc3, #ffb000);  /* IE 10+ */
    background-image:      -o-linear-gradient(left, #894cc3, #ffb000);  /* Opera 11.10+ */
}

/* BEGIN css for sticky footer */
html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    height: auto !important;
    /*height: 100%;*/
    margin-bottom: -1.5em;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 1.5em;
}
/* END css for sticky footer */