/* Dark Purple:     #371E4D     rgb(55,30,77) */
/* Medium Purple:   #603588     rgb(96,53,136) */
/* Light Purple:    #894CC3     rgb(137,76,195) */
/* Light Orange:    #FFB000     rgb(255,176,0) */

body {
    background: url("../images/bg_circles.jpg") repeat;
    color: #666;
}

.white-text {
    color: #f8f8f8;
}

.orange-text {
    color: #FFB000;
}

.orange-border {
    border-color: #FFB000;
}

.container {
    /*max-width: 970px;*/
}

.page-header {
    margin-top: 0;
    margin-bottom: 15px;
}

.panel {
    margin-bottom: 15px;
}

.panel-title {
    font-weight: bolder;
}

.row {
    padding: 0 7.5px;
    margin-bottom: 0;
}

.row > div[class^='col-'] {
    padding: 0 7.5px;
}

.template {
    display: none;
}

#memberList {
    height: 530px;
}

#memberList > div.panel-body {
    padding: 5px 0;
    height: 487px;
    overflow-y: auto;
}

#memberList hr {
    border-color: #FFB000;
    margin: 10px 5px;
}

#memberList ul {
    margin-bottom: 0;
}

#ringDisplay {
    padding: 15px;
    height: 530px;
}

#ringDisplay > p {
    line-height: 500px;
}

#ringDisplay > img {
    position: absolute;
    height: 64px;
    width: 64px;
    margin-top: -32px;
    margin-left: -32px;
}

.member-list-item {
    cursor: default;
}

.member-list-item:hover {
    background-color: rgba(255, 176, 0, 0.2);
}

.member-list-item > p {
    margin-bottom: 0;
    padding: 2px 0;
    font-weight: bold;
}

.member-list-item > p > button {
    margin-left: 5px;
    margin-right: 5px;
}

#saveButton {
    height: 119px;
}

.form-control-static {
    margin-bottom: 7px;
}