body {
    background: url("../images/0.png") repeat;
}

.sidebar {
    padding: 0;
    height: 100%;
}

.main {
    padding: 15px 15px 0;
}

.accordion-collapse {
    padding-left: 15px;
}

.site-footer {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0.5em;
    height: 2em;
    width: 100%;
    z-index: 1001;
}

.navbar {
    margin-bottom: 0;
}

.navbar-logo {
    width: 32px;
    height: 32px;
    margin: -7px 9px -7px -6px;
}

/* When screen width drops below 768px, these CSS rules turn off */
@media (min-width: 768px) {
    html, body {
        height: 100%;
    }

    .sidebar {
        width: 180px;
    }

    .main {
        margin-left: 180px;
    }

    .sidenav {
        height: 100%;
    }
}
